<!-- <div class="content">
    <div class="regist">
    <form name="data">
        <p>Login</p>
        <input type="text">
        <p>Password</p>
        <input type="password" name="pass" id="" placeholder="Enter password">
        <p>Email</p>
        <input type="email" name="email" id="" placeholder="Enter email">
        <br>
        <input type="button" class="add" value="Add user">
        <input type="button" class="edit" value="Edit user">
    </form>
    </div>
    <div class="list">
        <table class="tbl">
            <tr class="head">
                <th>#</th>
                <th>Login</th>
                <th>Password</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
</div> -->
<!-- <input type="text" [(ngModel)]="login">
<input type="button" value="add"  [disabled]="!login"> -->